.contenedor {
    width: 100%;
    height: fit-content;
}

.imagen {
    width: 100%;
    height: 700px;
    background: url("../../../assets/contacto.jpg")no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.cuadro1 {
    width: 440px;
    height: 420px;
    background-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-color: rgb(194, 194, 194);
    border-radius: 35px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cuadro1 .contenido {
    width: 95%;
}

.cuadro2 {
    width: 750px;
    height: 650px;
    background-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-color: rgb(194, 194, 194);
    border-radius: 35px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cuadro2 .contenido {
    width: 80%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cuadro2 form {
    width: 100%;
}

.cuadro2 .contenido input[type="text"],
input[type="email"] {
    width: 100%;
    border: 0;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 20px auto;
    padding: 14px 10px;
    outline: none;
    color: #a2a7ad;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.25s;
}

.cuadro2 .contenido textarea {
    width: 100%;
    height: 50%;
    border: 0;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 25px auto;
    padding: 14px 10px;
    outline: none;
    color: #a2a7ad;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.25s;
}

.cuadro2 .contenido input[type="button"] {
    width: 50%;
    height: 10%;
    border: 0;
    background-color: rgba(3, 191, 135, 0.7);
    margin: 25px 25%;
    padding: auto 10px;
    outline: none;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.25s;
    opacity: 80%;
    text-align: center;
}

.mapa {
    width: 100%;
    background: #e5e3df;
    height: 500px;
}

.overlay {
    background-color: rgba(3, 191, 135, 0.0);
    position: relative;
    widows: 98%;
    ;
    /* your iframe width */
    height: 100%;
    /* your iframe height */
}

.embeded {
    height: 100%;
}


/*agm-map {
    width: 98%;
    height: 100%;
}*/

.comentarios {
    width: 100%;
    height: fit-content;
    background: whitesmoke;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    opacity: 60%;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: #000000;
    font-size: 40px;
    font-weight: lighter;
    opacity: 60%;
}

@media screen and (max-width: 1024px) {
    .imagen .cuadro2 {
        width: 98%;
    }
    input {
        font-size: 18px;
    }
    h1 {
        font-size: 35px;
    }
    p {
        font-size: 19px;
    }
}

@media screen and (max-width: 1189px) {
    .imagen {
        height: 1150px;
    }
}