<div class="contenedor">
    <div class="imagen">
        <div class="cuadro1">
            <div class="contenido">
                <p>Av. Cerro de la Cruz No. 128 A Fracc. Lomas del guadiana CP 34100 Durango, DGO; Mexico</p>

                <p>Tel. 618 827-59-88</p>


                <p>Lunes a Sabado 9:00 am. a 8:30 pm</p>
            </div>



        </div>
        <div class="cuadro2">

            <div class="contenido">
                <h1>Contactanos</h1>
                <form action="" class="box" id="contact">
                    <input type="text" placeholder="Nombre completo*">
                    <input type="email" placeholder="Correo electronico*">
                    <textarea name="comment" form="contact" placeholder="Mensaje*"></textarea>
                    <input type="button" value="Enviar">
                </form>

            </div>
        </div>
    </div>
    <div class="mapa" id="map">
        <div class="overlay" onClick="style.pointerEvents='none'">
            <div class="embeded" style="width: 100%"><iframe scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Av.%20Cerro%20de%20la%20Cruz%20No.%20128%20A%20Fracc.%20Lomas%20del%20guadiana+(Bonterra%20Spa)&amp;t=&amp;z=18&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                    width="100%" height="100%" frameborder="0"></iframe></div>
            <!-- this creates a google map on the page with the given lat/lng from -->
            <!-- the component as the initial center of the map: -->
            <!--<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>-->
        </div>
    </div>
    <div class="comentarios">
        <div class="fb-comments" data-href="http://localhost:4200" data-numposts="3" data-width=""></div>

    </div>

</div>