<div class="contenedor">
    <div class="cuadro">
        <p>Brindar a los clientes los mejores masajes y tratamientos para la piel disponibles en un ambiente tranquilo y sereno para ayudar a desarrollar y mantener un estilo de vida saludable</p>
    </div>
    <div class="servicios">
        <div class="uno">
            <div class="duchas default">
                <span class="icono"></span>
                <div class="descripcion">
                    <div class="titulo">
                        <h3>Duchas de hidroterapia</h3>
                    </div>
                    <div class="contenido">
                        <p>La ducha escocesa es buena para activar la circulacion ya que alterna chorros de agua fria y caliente</p>
                    </div>
                </div>
            </div>
            <div class="sauna default">
                <span class="icono"></span>
                <div class="descripcion">
                    <div class="titulo">
                        <h3>Sauna y baño a vapor</h3>
                    </div>
                    <div class="contenido">
                        <p>Las saunas son cabinas cerradas que reunen una temperatura de unos 80 grados y que son buenas para eliminar toxinas</p>
                    </div>
                </div>
            </div>
            <div class="masajes default">
                <span class="icono"></span>
                <div class="descripcion">
                    <div class="titulo">
                        <h3>Masajes</h3>
                    </div>
                    <div class="contenido">
                        <p>La finalidad de los masajes es la de relajar el cuerpo, activar la circulacion, aliviar el dolor y recuperar movilidad </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="dos">
            <div class="tratamiento default">
                <span class="icono"></span>
                <div class="descripcion">
                    <div class="titulo">
                        <h3>Tratamiento de limpieza facial </h3>
                    </div>
                    <div class="contenido">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora vitae commodi corrupti omnis,</p>
                    </div>
                </div>
            </div>
            <div class="pscinas default">
                <span class="icono"></span>
                <div class="descripcion">
                    <div class="titulo">
                        <h3>Pscinas a chorro</h3>
                    </div>
                    <div class="contenido">
                        <p>Hay cabinas individuales pero tambien para dos personas de manera que las parejas puedan someterse a tratamientos conjuntos</p>
                    </div>
                </div>
            </div>
            <div class="zonas default">
                <span class="icono"></span>
                <div class="descripcion">
                    <div class="titulo">
                        <h3>Zonas de descanso</h3>
                    </div>
                    <div class="contenido">
                        <p>En estas zonas se cuidadn muchos aspectos como la temperatura ambiente que suele ser templada, y la musica de fondo, que suele tener una funcion relajante y de desconexion</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>