.contenedor {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cuadro {
    width: 55%;
    height: 15%;
    background: #f7f6fc;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.7);
}

.cuadro p {
    padding: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.servicios {
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.servicios .uno {
    width: 50%;
    height: 90%;
    border-color: thistle;
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.servicios .dos {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.default {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.default .icono {
    width: 130px;
    height: 120px;
    background: whitesmoke;
}

.default .descripcion {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.default .descripcion .titulo {
    width: 100%;
    height: 35%;
    color: #00b591;
}

.default .descripcion .contenido {
    width: 100%;
    height: 65%;
}

p {
    font-weight: bold;
    font-size: 18px;
}

h3 {
    margin: 0px;
    padding: 0px;
    font-size: 23px;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .contenedor {
        height: 900px;
    }
    .cuadro {
        height: 140px;
    }
    p {
        font-size: 15px;
    }
}

@media screen and (max-height: 900px) {
    .contenedor {
        height: 900px;
    }
}

@media screen and (max-width: 800px) {
    .contenedor {
        height: 1200px;
    }
    .cuadro {
        height: 120px;
        width: 95%;
    }
    .servicios {
        width: 95%;
    }
    .default {
        width: 100%;
        height: 33%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .default .icono {
        width: 130px;
        height: 120px;
    }
    .default .descripcion {
        width: 99%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .default .descripcion .titulo {
        width: 100%;
        height: 35%;
        color: #00b591;
    }
    .default .descripcion .contenido {
        width: 100%;
        height: 65%;
    }
}

@media screen and (max-width: 700px) {
    .contenedor {
        height: 1600px;
    }
    .servicios {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .servicios .uno {
        width: 100%;
        border: unset;
    }
    .servicios .dos {
        width: 100%;
    }
    .default .icono {
        width: 90px;
        height: 80px;
        background: snow;
    }
}