<div class="contenedor">
    <div class="reservado"></div>
    <div class="sauna">
        <div class="img"></div>
        <div class="principal">
            <div class="encabezado">
                <h1>50% de descuento en tu primera cita <br></h1>
            </div>
            <div class="formulario">
                <form action="" class="box">
                    <input type="text" placeholder="Nombre completo">
                    <input type="email" placeholder="Correo electronico">
                    <input type="button" value="Quiero mi descuento!">
                </form>
                <p>Disfruta de esta oferta cupo limitado a 20 personas</p>
            </div>
        </div>
    </div>
    <div class="video"></div>
    <div class="bienvenida">
        <div class="textos title_border">
            <h1>Bienvenido</h1>
            <h3>spa&alternativa</h3>
            <p>Terapia de masaje y relajacion</p>
        </div>
    </div>
</div>