    * {
        margin: 0px;
        padding: 0px;
    }
    
    .contenedor {
        display: block;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
    
    .sauna {
        width: 100%;
        z-index: 1 !important;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;
    }
    
    .img {
        width: 100%;
        height: 70%;
        background: lightgray;
        background-size: cover;
        background-position: center;
        opacity: 45%;
    }
    
    .video {
        width: 100%;
        height: 70%;
        background: url("../../../assets/background.jpg")no-repeat transparent;
        background-size: cover;
        background-position: center;
        z-index: 0 !important;
    }
    
    .principal {
        width: 60%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        z-index: 2!important;
    }
    
    .encabezado {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
    }
    
    .formulario {
        width: 100%;
        height: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .box {
        width: 70%;
        text-align: center;
        border-radius: 5%;
    }
    
    .box input[type="text"],
    input[type="email"] {
        border: 0;
        display: block;
        background: whitesmoke;
        margin: 20px auto;
        text-align: center;
        padding: 14px 10px;
        width: 60%;
        outline: none;
        color: #a2a7ad;
        border-radius: 10px;
        font-size: 20px;
        text-align: left;
        transition: 0.25s;
        opacity: 80%;
    }
    
    .box input[type="text"]:focus {
        width: 65%;
        border-color: #05c46b;
    }
    
    .box input[type="button"] {
        border: 0;
        display: block;
        background: #3cc2c2;
        margin: 20px auto;
        text-align: center;
        padding: 14px 10px;
        width: 200px;
        height: 18%;
        outline: none;
        color: white;
        border-radius: 20px;
        font-size: 18px;
        transition: 0.25s;
        opacity: 80%;
    }
    
    .bienvenida {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .textos {
        width: 50%;
        height: 97%;
        display: flex;
        border-bottom-style: solid;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    h1 {
        font-family: 'Arial', Times, serif;
        text-align: center;
        color: black;
        text-transform: uppercase;
        opacity: 100%!important;
        font-size: 72px;
    }
    
    h3 {
        font-size: 25px;
        font-weight: bold;
        color: #00b591;
        text-transform: uppercase;
    }
    
    p {
        font-size: 17px;
        font-style: italic;
        font-weight: bold;
        text-align: center;
    }
    
    @media screen and (max-height: 850px) {
        h1 {
            font-size: 30px;
        }
    }
    
    @media screen and (max-width: 1024px) {
        .contenedor {
            height: 700px;
        }
        .sauna {
            /*width: 100vw;*/
            height: 500px;
        }
        .img {
            height: 500px;
            background-size: cover;
        }
        .video {
            height: 500px;
            background-attachment: unset;
            background-position: top;
            background-size: cover;
        }
        .principal {
            height: 500px;
        }
        .encabezado {
            height: 120px;
        }
        .formulario {
            height: 300px;
        }
        .box input[type="text"],
        input[type="email"] {
            padding: 14px 10px;
            width: 250px;
            height: 18%;
            font-size: 15px;
        }
        .box input[type="text"]:focus,
        input[type="email"]:focus {
            width: 280px;
        }
        .box input[type="button"] {
            padding: 14px 10px;
            width: 180px;
            height: 18%;
            font-size: 15px;
        }
        h1 {
            font-size: 30px;
        }
        h3 {
            font-size: 22px;
        }
        p {
            font-size: 15px;
        }
    }
    
    @media screen and (max-width: 900px) {
        .box input[type="text"] {
            padding: 14px 10px;
            width: 250px;
            height: 18%;
            font-size: 15px;
        }
    }
    
    @media screen and (max-width: 640px) {
        .box {
            width: 250px;
        }
    }
    
    @media screen and (max-width: 480px) {
        .principal {
            width: 290px;
        }
    }