<div id="" class="">
    <app-menu></app-menu>
    <div class="home">
        <app-inicio></app-inicio>
        <app-pruebas></app-pruebas>
    </div>

    <!--<app-contacto></app-contacto>-->

    <!-- <app-servicios></app-servicios> -->
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>