    @import url(https://fonts.googleapis.com/css?family=Open+Sans);
    /*html {
  height:100%;
  background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
}*/
    
    .reservado {
        width: 100%;
        height: 60px;
        z-index: 2!important;
    }
    
    .contenedor {
        z-index: 3!important;
        position: fixed;
        display: flex;
        background: white;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    }
    
    .marca {
        width: 25%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    nav {
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .burger {
        width: 0%;
        height: 0%;
        background: skyblue;
    }
    
    .icono {
        background: url("../../../assets/menu.png")no-repeat transparent;
        background-size: cover;
        width: 0px;
        height: 0px;
    }
    
    nav ul {
        visibility: visible;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    nav ul li {
        display: inline-block;
    }
    
    nav ul li a {
        padding: 10px;
        font-family: "Open Sans";
        text-transform: uppercase;
        color: gray;
        font-size: 20px;
        text-decoration: none;
        display: block;
    }
    
    nav ul li a:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
        background: rgba(255, 255, 255, 0.1);
        color: #3cc2c2;
    }
    
    .agendar {
        width: 170px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .boton {
        width: 90%;
        height: 45px;
        border-style: solid;
        border-color: #3cc2c2;
        border-radius: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    
    .btn {
        width: 100%;
        border-style: solid;
        border-radius: 10px;
        color: #3cc2c2;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    h1 {
        padding-left: 2%;
        font-size: 24px;
        color: #05c46b;
        font-weight: bold;
    }
    
    span {
        font-size: 21px;
        text-transform: uppercase;
    }
    
    @media screen and (max-width: 1024px) {
        .reservado {
            height: 50px;
        }
        .contenedor {
            height: 50px;
        }
        h1 {
            font-size: 20px;
        }
        span {
            font-size: 17px;
            text-transform: uppercase;
        }
        nav ul li a {
            padding: 10px;
            font-size: 16px;
        }
        .agendar {
            width: 150px;
            height: 100%;
        }
    }
    
    @media screen and (max-width: 900px) {
        .contenedor {
            display: inline-block;
        }
        .marca {
            float: left;
            height: 100%;
        }
        nav {
            width: fit-content;
            float: right;
        }
        .agendar {
            position: relative;
            float: right;
        }
        nav ul {
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            top: 50px;
            width: 50%;
            height: 200px;
            background: white;
        }
        nav ul li a {
            padding: 2px;
            padding-left: 5px;
        }
        nav .menu {
            visibility: visible;
        }
        nav .menu .burguer {
            display: flex;
            align-items: center;
        }
        .icono {
            width: 30px;
            height: 30px;
        }
    }
    
    @media screen and (max-width: 450px) {
        nav .menu {
            padding-right: 20px;
        }
        .agendar {
            position: fixed;
            visibility: hidden;
        }
        nav {}
        nav ul {
            left: 10%;
            width: 100%;
            height: 100%;
        }
    }