<div class="contenedor">
    <div class="marca">
        <h1>SPA&ALTERNATIVA</h1>
    </div>

    <div class="separacion">

    </div>

    <nav>
        <div class="menu">
            <a class="burguer" (click)="toggle()">
                <div class="icono"></div>
            </a>

            <ul>
                <li>
                    <a routerLinkActive="active" [routerLink]="['/']" (click)="toggle()">Inicio</a>
                </li>
                <li>
                    <a href="#">tratamiento</a>
                </li>
                <li>
                    <a href="#">Promociones</a>
                </li>
                <li>
                    <a href="#">paquetes</a>
                </li>

                <li>
                    <a routerLinkActive="active" [routerLink]="['/contacto']" (click)="toggle()">contacto</a>
                </li>
            </ul>

        </div>

        <div class="agendar">

            <a class="btn" routerLinkActive="active" [routerLink]="['/agendar']" (click)="toggle()">
                <span class="boton">
                    agendar
                </span>
            </a>

        </div>

    </nav>
</div>

<div class="reservado"></div>