<div class="contenedor">
    <div class="image1">
        <h1>Agenda tu cita en menos de 2 minutos</h1>
    </div>
    <div class="agendar">

        <div class="contenido">
            <h2>Agendar ahora</h2>
            <form action="" class="form" id="form">
                <div>
                    <p>Nombre completo*</p>
                    <input type="text" placeholder="Escribe tu nombre*">
                </div>
                <div>
                    <p>Fecha de nacimiento*</p>
                    <input type="date">
                </div>
                <div>
                    <p>Celular*</p>
                    <input type="number" placeholder="Ej. 618562104">
                </div>
                <div>
                    <p>Correo electronico*</p>
                    <input type="email" placeholder="Ej. SpaAlternativa@gmail.com">
                </div>
                <div>
                    <p>Seleccione el tipo de paquete</p>
                    <select name="pack" id="packages" form="packages">
                        <option value="default">Promociones de esta semana</option>
                        <option value="saab">lorem</option>
                        <option value="opel">ipsum</option>
                        <option value="audi">dolor</option>
                        </select>
                </div>



                <div>
                    <p>Seleccione la promocion</p>
                    <select name="promos" id="promo" form="promotions">
                        <option value="default">Masaje express</option>
                        <option value="saab">lorem</option>
                        <option value="opel">ipsum</option>
                        <option value="audi">dolor</option>
                      </select>
                </div>

                <div class="fecha">
                    <p>Seleccione la fecha</p>
                    <input type="date">
                </div>

                <div class="hora">
                    <p>seleccione la hora</p>
                    <select name="time" id="time" form="time">
                        <option value="default">17:00 a 18:00</option>
                        <option value="saab">lorem</option>
                        <option value="opel">ipsum</option>
                        <option value="audi">dolor</option>
                      </select>
                </div>

                <div>
                    <p>Seleccione el tipo de pago</p>
                    <select name="pay" id="pay" form="pay">
                        <option value="default">Efectuar el pago en el local</option>
                        <option value="saab">lorem</option>
                        <option value="opel">ipsum</option>
                        <option value="audi">dolor</option>
                      </select>
                </div>

                <div class="costo">
                    <p>Precio total</p>
                    <div class="box">
                        <p>$698.00</p>
                    </div>
                </div>
                <input type="button" value="Registrar cita">
            </form>

        </div>
    </div>
    <div class="image2">
        <div class="box2">
            <h3>tambien puedes comunicarte via whatsapp o llamada para agendar tu cita </h3>
        </div>
    </div>
    <div class="box3">

        <div class="whatsapp default">
            <h4>Mandanos un whatsapp te queremos conocer</h4>
            <div class="numero">
                <div class="img"></div>
                <p>618 8 14 15 16</p>
            </div>

        </div>
        <div class="telefono default">
            <h4>Llamanos estaremos pendientes de ti</h4>
            <div class="numero">
                <div class="img"></div>
                <p>618 8 14 15 16</p>
            </div>
        </div>


    </div>
</div>