.contenedor {
    width: 100%;
    height: 1600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.image1 {
    width: 50%;
    height: 700px;
    background: url('../../../assets/agendar1.jpg')no-repeat;
    background-size: cover;
    background-position: center;
}

.image2 {
    z-index: 1;
    top: 5%;
    position: relative;
    background: url('../../../assets/agendar2.png')no-repeat;
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position-y: 22%;
}

.image2 .box2 {
    position: relative;
    top: 50%;
    left: 15%;
    background: rgba(28, 219, 233, 0.5);
    width: 70%;
    height: 25%;
    border-radius: 20px;
}

.agendar {
    z-index: 2;
    width: 45%;
    height: 700px;
}

.agendar .contenido {
    padding: 2%;
    width: 50%;
    position: absolute;
    height: fit-content;
}

.agendar .contenido h2 {
    color: turquoise;
    font-size: 35px;
}

.agendar .contenido .form {
    height: 900px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    border-style: solid;
    border-color: rgb(194, 194, 194);
    border-radius: 35px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.agendar .contenido .form input,
.agendar .contenido .form div,
.agendar .contenido .form select {
    width: 90%;
}

.agendar .contenido .fecha,
.agendar .contenido .hora {
    width: 35%!important;
}

.agendar .contenido .form input [type="button"] {
    width: 40%;
    border-radius: 35px;
}

.box3 {
    position: relative;
    margin-top: 5%;
    left: 20%;
    z-index: 4;
    width: 60%;
    height: 15%;
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-style: solid;
    border-color: rgb(194, 194, 194);
    border-radius: 35px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.box3 .default {
    position: relative;
    width: 35%;
    height: 40%;
}

.box3 .default .numero {
    width: 100%;
    height: 50%;
    background: green;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.box3 .default .numero .img {
    width: 10%;
    height: 90%;
    background: url('../../../assets/whatsapp.png')no-repeat;
    background-size: contain;
}

.box3 .telefono .numero {
    background: turquoise;
}

.box3 .telefono .numero .img {
    background: url('../../../assets/call.png')no-repeat;
}

.box3 p {
    width: 80%;
    color: white;
    font-size: 28px;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    color: white;
    font-size: 42;
    font-weight: bold;
    position: relative;
    text-align: center;
    top: 85%;
}

h2 {
    color: black;
}

h3 {
    width: 80%;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 10%;
    left: 10%;
}

h4 {
    width: 100%;
    text-align: center;
}

p {
    font-size: 20px;
    font-weight: bold;
}