<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container" id="features">
	<div class="row">
		<div class="col-md-12 feature">
    	    <img src="../../assets/masaje1.jpg">
            <h3>SERVICIO - MASAJES</h3>
            <div class="title_border"></div>
            <p>En esta seccion se van a presentar la descripcion general de los masajes, llevara un boton de "ver mas" para abrir una nueva pagina con la descripcion general de cada uno de los masajes que ofrezcan.</p>
		</div>
	</div>
</div>