#features {
    margin-top: 20px;
}

.feature,
.feature i,
.feature h3,
.feature .title_border {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.feature {
    background: #FFFFFF;
    text-align: center;
    padding: 20px;
    border: solid .5px #cccccc;
    height: auto;
}

.feature p {
    margin-top: 20px;
    margin-bottom: 30px;
}

.feature i {
    font-size: 80px;
    color: #FFFFFF;
    background: #1E825F;
    padding: 30px;
    border-radius: 50%;
    border: solid 3px #1E825F;
}

.feature h3 {
    color: #1E825F;
}

.feature:hover {
    background: #F5F5F5;
    -webkit-transform: translate(0, 1em);
    -moz-transform: translate(0, 1em);
    -o-transform: translate(0, 1em);
    -ms-transform: translate(0, 1em);
    transform: translate(0, 1em);
}

.feature:hover i {
    color: #1E825F;
    border-color: #1E825F;
    background: #FFFFFF;
}

.feature:hover .title_border {
    background-color: #1E825F;
    width: 50%;
}

.feature .title_border {
    width: 0%;
    height: 3px;
    background: #1E825F;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 8px;
}

img {
    height: 30%;
    width: 30%;
    border-radius: 50%;
}