<div class="contenedor">
    <div class="acerca">
        <div class="titulo">
            <h3>Acerca de</h3>
        </div>
        <div class="contenido">
            <p>Estamos comprometidos con nuestros clientes, buscamos mejorar dia a dia nuestros servicios</p>
        </div>
    </div>
    <div class="contacto">
        <div class="titulo">
            <h3>Contacto</h3>
        </div>
        <div class="contenido">
            <div class="direccion default">
                <p>Av. Cerro de la Cruz No. 128 A Fracc. Lomas del guadiana CP 34100 Durango, DGO; Mexico</p>
            </div>
            <div class="telefono default">
                <p>Tel. 618 827-59-88</p>
            </div>
            <div class="horario default">
                <p>Lunes a Sabado 9:00 am. a 8:30 pm</p>
            </div>
        </div>
    </div>
    <div class="links">
        <div class="titulo">
            <h3>Links</h3>
        </div>
        <div class="contenido">
            <ul>
                <li><a href="\\">Inicio</a></li>
                <li><a href="\\">Tratamientos</a></li>
                <li> <a href="\\">Promociones</a></li>
                <li><a href="\\">Paquetes</a></li>
                <li><a href="\\">Contacto</a></li>
            </ul>
        </div>
    </div>
    <div class="redes">
        <div class="contenido">
            <div class="facebook default">
                <span></span>
            </div>
            <div class="instagram default">
                <span></span>
            </div>
            <div class="googleplus default">
                <span></span>
            </div>
            <div class="twitter default">
                <span></span>
            </div>
        </div>
    </div>
</div>