.contenedor {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.acerca {
    width: 25%;
    height: 90%;
}

.contacto {
    width: 35%;
    height: 90%;
}

.contacto .contenido {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.links {
    width: 15%;
    height: 90%;
}

.links .contenido {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 80%;
}

ul {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

ul li {
    width: 50%;
    height: 30px;
    list-style: none;
}

ul li a {
    color: black;
}

.redes {
    width: 20%;
    height: 90%;
}

.redes .contenido {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.redes .contenido .facebook {
    background: steelblue;
}

.redes .contenido .instagram {
    background: mediumorchid;
}

.redes .contenido .googleplus {
    background: tomato;
}

.redes .contenido .twitter {
    background: skyblue;
}

.redes .contenido .default {
    width: 60px;
    height: 60px;
}

.titulo {
    width: 90%;
    height: 25%;
}

h3 {}

p {
    padding-right: 6px;
}

@media screen and (max-width: 1024px) {
    .contenedor {
        height: 300px;
    }
    .contacto {
        width: 45%;
    }
    .links {
        width: 15%;
    }
    .redes {
        background: yellowgreen;
        width: fit-content;
    }
    .redes .contenido {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .titulo {
        height: 24%;
    }
    .contenido {
        height: 76%;
    }
    h3 {
        font-size: 24px;
    }
    p {
        font-size: 15px;
    }
}

@media screen and (max-height: 900px) {
    .contenedor {
        height: 250px;
    }
}

@media screen and (max-width: 865px) {}

@media screen and (max-width: 700px) {
    .contenedor {
        height: 300px;
    }
}

@media screen and (max-width: 640px) {
    .contenedor {
        height: 500px;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    }
    .acerca {
        width: 35%;
        height: 60%;
    }
    .contacto {
        width: 55%;
        height: 60%;
    }
    .links {
        width: fit-content;
        height: 40%;
        margin-right: 5px;
    }
    .redes {
        height: 40%;
    }
}